body {
  min-height: 300vh;
  background-color: plum;
}


h1 {
    color:black;
    font-size: 100px;
  }

  h2 {
    color:black;
    font-size: 15px;
  } 

  h3 {
    color:black;
    font-size: 18px;
  } 

  h4 {
    color: black;
    font-size: 35px;
  } 

h5 {
font-size: 25px;
}

  h6 {
  font-size: 45px ;
  margin-bottom: 25px;
}